In [14]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [15]:
df=pd.read_csv("50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [16]:
x=df.drop('Profit',axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [17]:
y=df.Profit
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [18]:
dummies=pd.get_dummies(x.State)
dummies.head()

   California  Florida  New York
0           0        0         1
1           1        0         0
2           0        1         0
3           0        0         1
4           0        1         0

In [19]:
x=pd.concat([x,dummies],axis='columns')
x.head()

,R&D Spend,Administration,Marketing Spend,State,California,Florida,New York
0,165349.20,136897.80,471784.10,New York,0,0,1
1,162597.70,151377.59,443898.53,California,1,0,0
2,153441.51,101145.55,407934.54,Florida,0,1,0
3,144372.41,118671.85,383199.62,New York,0,0,1
4,142107.34,91391.77,366168.42,Florida,0,1,0

In [24]:
x=x.drop(['State','New York'],axis='columns')

KeyError: "['State', 'New York'] not found in axis"

In [25]:
x.head()

   R&D Spend  Administration  Marketing Spend  California  Florida
0  165349.20       136897.80        471784.10           0        0
1  162597.70       151377.59        443898.53           1        0
2  153441.51       101145.55        407934.54           0        1
3  144372.41       118671.85        383199.62           0        0
4  142107.34        91391.77        366168.42           0        1

In [26]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.9,random_state=0)

In [27]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [28]:
model.fit(x_train,y_train)

LinearRegression()

In [33]:
y_pred=model.predict(x_test)

In [34]:
print(y_pred)
print(y_test)

[101475.55240132 133287.41758283 132546.1614473   72702.71361912
 178346.51726993]
28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
Name: Profit, dtype: float64

In [35]:
model.score(x,y)

0.9491325763571216