In [11]:
import spacy

from spacy.lang.en.stop_words import STOP_WORDS

len(STOP_WORDS)

326

In [12]:
nlp=spacy.load("en_core_web_sm")

doc=nlp("we just opened our wings,the flying part is coming soon")

for token in doc:
    if token.is_stop:
        print(token)

we
just
our
the
part
is

In [13]:
def preprocess(text):
    doc=nlp(text)
    
    no_stop_words=[token.text for token in doc if not token.is_stop]
    return " ".join(no_stop_words)

In [14]:
preprocess("Musk wants time to prepare for a trail over his")

'Musk wants time prepare trail'

In [15]:
preprocess("The other is not  other but your divine brother")

'  divine brother'

In [16]:
import pandas as pd

df=pd.read_json("case_file.json",lines=True)

df.shape

(13087, 6)

In [17]:
df.head()

        id  ...                                    components
0     None  ...            [National Security Division (NSD)]
1  12-919   ...  [Environment and Natural Resources Division]
2  11-1002  ...  [Environment and Natural Resources Division]
3   10-015  ...  [Environment and Natural Resources Division]
4   18-898  ...  [Environment and Natural Resources Division]

[5 rows x 6 columns]

In [20]:
df=df[ df["topics"].str.len()!=0]
df.head()

         id  ...                                         components
4    18-898  ...       [Environment and Natural Resources Division]
7   14-1412  ...                                   [Civil Division]
19  17-1419  ...  [Environment and Natural Resources Division, U...
22  15-1562  ...                                   [Civil Division]
23  17-1404  ...           [Civil Division, USAO - Florida, Middle]

[5 rows x 6 columns]

In [22]:
df.shape

(4688, 6)

In [32]:
df["contents"].iloc[4][:300]

'21st Century Oncology Inc. and certain of its subsidiaries and affiliates have agreed to pay $26 million to the government to resolve a self-disclosure relating to the submission of false attestations regarding the company’s use of electronic health records software and separate allegations that the'

In [27]:
len(df["contents"].iloc[4])

5504

In [28]:
df["contents_new"]=df["contents"].apply(preprocess)

In [29]:
df.head()

         id  ...                                       contents_new
4    18-898  ...  U.S. Department Justice , U.S. Environmental P...
7   14-1412  ...  131 - count criminal indictment unsealed today...
19  17-1419  ...  United States Attorney Office Middle District ...
22  15-1562  ...  21st Century Oncology LLC , agreed pay $ 19.75...
23  17-1404  ...  21st Century Oncology Inc. certain subsidiarie...

[5 rows x 7 columns]

In [31]:
len(df["contents_new"].iloc[4])

4435