In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score , f1_score , precision_score , recall_score

In [2]:
dataset=pd.read_csv("spam.csv")
dataset.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df=dataset.where((pd.notnull(dataset)),)

In [4]:
df.loc[df['Category']=='spam','Category',]=1
df.loc[df['Category']=='ham','Category',]=0

In [5]:
df.head()

  Category                                            Message
0        0  Go until jurong point, crazy.. Available only ...
1        0                      Ok lar... Joking wif u oni...
2        1  Free entry in 2 a wkly comp to win FA Cup fina...
3        0  U dun say so early hor... U c already then say...
4        0  Nah I don't think he goes to usf, he lives aro...

In [6]:
x=df['Message']

y=df['Category']

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [8]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

#coverting all y values to integer

Y_train=y_train.astype('int')
Y_test=y_test.astype('int')

In [9]:
classifier = RandomForestClassifier(n_estimators=40)

In [10]:
classifier.fit(x_train_features,Y_train)

RandomForestClassifier(n_estimators=40)

In [11]:
y_pred= classifier.predict(x_train_features)
accuracy_score_point=accuracy_score(Y_train,y_pred)

In [12]:
print(accuracy_score_point)

1.0

In [13]:
y_test_predict=classifier.predict(x_test_features)
test_accuracy_score_point=accuracy_score(Y_test,y_test_predict)

In [14]:
print("accuracy_score_point :",test_accuracy_score_point)

accuracy_score_point : 0.9730941704035875

In [15]:
test_pre=precision_score(Y_test,y_test_predict)
test_re=recall_score(Y_test,y_test_predict)
test_f1=f1_score(Y_test,y_test_predict)

print("precision score on test data ",test_pre)
print("recall score on test data ",test_re)
print("f1 score on test data ",test_f1)

precision score on test data  1.0
recall score on test data  0.8064516129032258
f1 score on test data  0.8928571428571428