In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import tree
from sklearn.metrics import accuracy_score

In [2]:
dataset=pd.read_csv("spam.csv")
dataset.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df=dataset.where((pd.notnull(dataset)),)

In [4]:
df.loc[df['Category']=='spam','Category',]=0
df.loc[df['Category']=='ham','Category',]=1

In [5]:
df.head()

  Category                                            Message
0        1  Go until jurong point, crazy.. Available only ...
1        1                      Ok lar... Joking wif u oni...
2        0  Free entry in 2 a wkly comp to win FA Cup fina...
3        1  U dun say so early hor... U c already then say...
4        1  Nah I don't think he goes to usf, he lives aro...

In [6]:
x=df['Message']

y=df['Category']

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=3)

In [8]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')

x_train_features=feature_extraction.fit_transform(x_train)
x_test_features=feature_extraction.transform(x_test)

#coverting all y values to integer

Y_train=y_train.astype('int')
Y_test=y_test.astype('int')

In [9]:
classifier = tree.DecisionTreeClassifier()

In [10]:
classifier.fit(x_train_features,Y_train)

DecisionTreeClassifier()

In [11]:
y_pred= classifier.predict(x_train_features)
accuracy_score_point=accuracy_score(Y_train,y_pred)

In [12]:
print(accuracy_score_point)

1.0

In [13]:
y_test_predict=classifier.predict(x_test_features)
test_accuracy_score_point=accuracy_score(Y_test,y_test_predict)

In [14]:
print("accuracy_score_point :",test_accuracy_score_point)

accuracy_score_point : 0.9632286995515695