In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
x=dataset.drop(["Exited","RowNumber","CustomerId","Surname"],axis=1)
y=dataset['Exited']

In [4]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [5]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
label_encoder_x=LabelEncoder()
x['Geography']=label_encoder_x.fit_transform(x['Geography'])

label_encoder_y=LabelEncoder()
x['Gender']=label_encoder_y.fit_transform(x['Gender'])

In [6]:
x['Geography'].unique()

array([0, 2, 1])

In [7]:
x['Gender'].unique()

array([0, 1])

In [9]:
ohe=OneHotEncoder()

In [10]:
ohe_df=pd.DataFrame(ohe.fit_transform(x[['Geography']]).toarray())
ohe_df

        0    1    2
0     1.0  0.0  0.0
1     0.0  0.0  1.0
2     1.0  0.0  0.0
3     1.0  0.0  0.0
4     0.0  0.0  1.0
...   ...  ...  ...
9995  1.0  0.0  0.0
9996  1.0  0.0  0.0
9997  1.0  0.0  0.0
9998  0.0  1.0  0.0
9999  1.0  0.0  0.0

[10000 rows x 3 columns]

In [11]:
X=x.join(ohe_df)
X=X.drop("Geography",axis="columns")
X.shape

(10000, 12)

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(X_train)
x_test=sc.fit_transform(X_test)

C:\Users\amitb\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\amitb\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\amitb\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
C:\Users\amitb\anaconda3\lib\site-packages\sklearn\utils\validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [16]:
x_train

array([[ 0.16958176, -1.09168714, -0.46460796, ..., -1.01460667,
        -0.5698444 ,  1.74309049],
       [-2.30455945,  0.91601335,  0.30102557, ..., -1.01460667,
         1.75486502, -0.57369368],
       [-1.19119591, -1.09168714, -0.94312892, ...,  0.98560362,
        -0.5698444 , -0.57369368],
       ...,
       [ 0.9015152 ,  0.91601335, -0.36890377, ...,  0.98560362,
        -0.5698444 , -0.57369368],
       [-0.62420521, -1.09168714, -0.08179119, ..., -1.01460667,
        -0.5698444 ,  1.74309049],
       [-0.28401079, -1.09168714,  0.87525072, ..., -1.01460667,
         1.75486502, -0.57369368]])

In [17]:
y_train

7389    0
9275    0
2995    0
5316    0
356     0
       ..
9225    0
4859    0
3264    0
9845    0
2732    1
Name: Exited, Length: 8000, dtype: int64

In [18]:
import keras

In [19]:
from keras.models import Sequential
from keras.layers import Dense

In [20]:
classifier=Sequential([
    keras.layers.Dense(6,input_shape=(12,),activation='relu'),
    keras.layers.Dense(1,activation='sigmoid')
])

In [21]:
classifier.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [22]:
classifier.fit(x_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
800/800 [==============================] - 5s 1ms/step - loss: 0.5155 - accuracy: 0.7629
Epoch 2/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4426 - accuracy: 0.8016
Epoch 3/100
800/800 [==============================] - 2s 2ms/step - loss: 0.4225 - accuracy: 0.8127
Epoch 4/100
800/800 [==============================] - 1s 2ms/step - loss: 0.4056 - accuracy: 0.8231
Epoch 5/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3894 - accuracy: 0.8365
Epoch 6/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3745 - accuracy: 0.8465
Epoch 7/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3640 - accuracy: 0.8525
Epoch 8/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3573 - accuracy: 0.8543
Epoch 9/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3529 - accuracy: 0.8579
Epoch 10/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3504 - accuracy: 0.8589
Epoch 11/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3489 - accuracy: 0.8580
Epoch 12/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3476 - accuracy: 0.8584
Epoch 13/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3464 - accuracy: 0.8587
Epoch 14/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3459 - accuracy: 0.8600
Epoch 15/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3455 - accuracy: 0.8594
Epoch 16/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3450 - accuracy: 0.8591
Epoch 17/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3446 - accuracy: 0.8614
Epoch 18/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3445 - accuracy: 0.8594
Epoch 19/100
800/800 [==============================] - 3s 3ms/step - loss: 0.3437 - accuracy: 0.8615
Epoch 20/100
800/800 [==============================] - 3s 4ms/step - loss: 0.3440 - accuracy: 0.8605
Epoch 21/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3432 - accuracy: 0.8599
Epoch 22/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8606
Epoch 23/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3433 - accuracy: 0.8608
Epoch 24/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3429 - accuracy: 0.8601
Epoch 25/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3427 - accuracy: 0.8612
Epoch 26/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3424 - accuracy: 0.8615
Epoch 27/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8614
Epoch 28/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3423 - accuracy: 0.8614
Epoch 29/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8611
Epoch 30/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3421 - accuracy: 0.8611
Epoch 31/100
800/800 [==============================] - 2s 3ms/step - loss: 0.3419 - accuracy: 0.8629
Epoch 32/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3416 - accuracy: 0.8605
Epoch 33/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3416 - accuracy: 0.8620
Epoch 34/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8622
Epoch 35/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8616
Epoch 36/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3413 - accuracy: 0.8608
Epoch 37/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3411 - accuracy: 0.8614
Epoch 38/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3408 - accuracy: 0.8614
Epoch 39/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3408 - accuracy: 0.8640
Epoch 40/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3407 - accuracy: 0.8633
Epoch 41/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3410 - accuracy: 0.8629
Epoch 42/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3405 - accuracy: 0.8615
Epoch 43/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3406 - accuracy: 0.8609
Epoch 44/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3403 - accuracy: 0.8630
Epoch 45/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3406 - accuracy: 0.8620
Epoch 46/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3401 - accuracy: 0.8644
Epoch 47/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3400 - accuracy: 0.8633
Epoch 48/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3402 - accuracy: 0.8625
Epoch 49/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3401 - accuracy: 0.8633
Epoch 50/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3401 - accuracy: 0.8627
Epoch 51/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3401 - accuracy: 0.8609
Epoch 52/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3399 - accuracy: 0.8621
Epoch 53/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3398 - accuracy: 0.8614
Epoch 54/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3399 - accuracy: 0.8610
Epoch 55/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3399 - accuracy: 0.8636
Epoch 56/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3397 - accuracy: 0.8620
Epoch 57/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3395 - accuracy: 0.8637
Epoch 58/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3402 - accuracy: 0.8631
Epoch 59/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3394 - accuracy: 0.8644
Epoch 60/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3397 - accuracy: 0.8631
Epoch 61/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3394 - accuracy: 0.8631
Epoch 62/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3394 - accuracy: 0.8651
Epoch 63/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3396 - accuracy: 0.8630
Epoch 64/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3396 - accuracy: 0.8636
Epoch 65/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3394 - accuracy: 0.8616
Epoch 66/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8640
Epoch 67/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3395 - accuracy: 0.8620
Epoch 68/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3394 - accuracy: 0.8634
Epoch 69/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8646
Epoch 70/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8619
Epoch 71/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3395 - accuracy: 0.8625
Epoch 72/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3396 - accuracy: 0.8620
Epoch 73/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3392 - accuracy: 0.8636
Epoch 74/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3395 - accuracy: 0.8626
Epoch 75/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3393 - accuracy: 0.8624
Epoch 76/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3395 - accuracy: 0.8636
Epoch 77/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3391 - accuracy: 0.8622
Epoch 78/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3390 - accuracy: 0.8639
Epoch 79/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3389 - accuracy: 0.8620
Epoch 80/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3389 - accuracy: 0.8646
Epoch 81/100

800/800 [==============================] - 1s 1ms/step - loss: 0.3387 - accuracy: 0.8610
Epoch 82/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3392 - accuracy: 0.8644
Epoch 83/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3392 - accuracy: 0.8644
Epoch 84/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3389 - accuracy: 0.8639
Epoch 85/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8645
Epoch 86/100
800/800 [==============================] - 2s 2ms/step - loss: 0.3390 - accuracy: 0.8659
Epoch 87/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8629
Epoch 88/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3390 - accuracy: 0.8640
Epoch 89/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8622
Epoch 90/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3387 - accuracy: 0.8636
Epoch 91/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3385 - accuracy: 0.8631
Epoch 92/100
800/800 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8618
Epoch 93/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3387 - accuracy: 0.8633
Epoch 94/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3388 - accuracy: 0.8631
Epoch 95/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3384 - accuracy: 0.8626
Epoch 96/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8635
Epoch 97/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8612
Epoch 98/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3384 - accuracy: 0.8635
Epoch 99/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3384 - accuracy: 0.8631
Epoch 100/100
800/800 [==============================] - 1s 1ms/step - loss: 0.3386 - accuracy: 0.8652

In [27]:
classifier.evaluate(x_test,y_test)

63/63 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8605

[0.33553680777549744, 0.8604999780654907]

In [34]:
y_predicted=classifier(x_test)
y_predicted=(y_predicted>0.5)
y_predicted[:10]

<tf.Tensor: shape=(10, 1), dtype=bool, numpy=
array([[False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True]])>

In [35]:
y_test[:10]

9394    0
898     1
2398    0
5906    0
2343    0
8225    1
5506    0
6451    0
2670    1
3497    1
Name: Exited, dtype: int64

In [38]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_predicted)
cm

array([[1530,   65],
       [ 214,  191]], dtype=int64)